$color-main: #af7eeb;
$color-body: #e3e9ff;
$color-background-todo: white;
$color-text-main: black;

@mixin text-formatting-main($fontSize,$color,$fontWeight) {
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
}

body{
    background-color: $color-body;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-header{
    width: 500px;
    height: 75px;
    background-color: $color-main;
    margin-top: 100px;
    .menu{
        text-align: center;
        margin:0;
        margin-top: 22px;
        @include text-formatting-main(18px, $color-background-todo, "bold")
    }
    
}
  
.todo-container {
    display: flex;
    flex-direction: column;
}

.todo-items-container{
    margin-top: 20px;
    background-color:$color-background-todo;
}

.todo-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.todo-item {
    display: flex;
    margin:5px 0px 5px 0px;

}
  
.todo-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -14px;
}

.task-name{
    margin-bottom: 5px;

}

.trash-ico{
    margin-left: 5px;
    width: 15px;
}


  
.container {
    background-color: #333;
  }
  
.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}
  
.draggable.dragging {
    opacity: .5;
}
